@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Droid+Serif|Open+Sans+Condensed:300");

html,
body {
  line-height: 1.4rem;
  /* height: 100%; */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-kerning: normal;
  color: #1a222f;
  background: #f4fff3;
}

p {
  line-height: 1.4em;
}

.quote {
  padding: 0.5rem;
  font-size: 24px;
  font-family: "Playfair Display";
  position: relative;
  letter-spacing: 0.03em;
  line-height: 3rem;
  margin-bottom: 2rem;
  display: inline-block;
}
.quote:before {
  content: "“";
  position: absolute;
  left: -0.4em;
}
.quote:after {
  content: "”";
  /* margin-right: -1rem; */
}

.quote--container {
  margin-top: 3rem;
  width: 90%;
  padding-bottom: 0.5rem;
}

.quote--highlight {
  color: #d24335;
}

.quote--author {
  font-family: "Open Sans Condensed";
  font-size: 2rem;
  text-align: right;
  font-weight: 300;
}
